body {
    margin: 10px;
    padding: 0;
    background: linear-gradient(35deg,rgba(255, 0, 234, 1) 0%, rgba(87, 98, 199, 1) 50%, rgba(237, 83, 104, 1) 100%);
}

h1 {
    color: gold;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(35deg,rgba(255, 0, 234, 1) 0%, rgba(87, 98, 199, 1) 50%, rgba(237, 83, 104, 1) 100%);
}
button {
    color: aqua;
    background-color: brown;
    border-radius: 12px;
}
nav.Navbar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
nav.Navbar ul li {
    display: inline-block;
    margin-right: 20px;
}
nav.Navbar ul li a {
    color: red;
    border-radius: 4px;
    background-color: aqua;
    padding: 1px;
    text-decoration: none;
}
nav.Navbar ul li a:hover {
    color: red;
    border-radius: 4px;
    background-color: aqua;
    padding: 1px;
    text-decoration: underline;
}