h1 {
    color: rebeccapurple;
}
body {
    background-color: black;
}
button {
    color: aqua;
    background-color: brown;
    border-radius: 12px;
}
nav.Navbar ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
nav.Navbar ul li {
    display: inline-block;
    margin-right: 20px;
}
nav.Navbar ul li a {
    color: red;
}